
/// @name HTML-mark
/// HTML element that represents text which is marked or highlighted for reference or notation purposes

mark,
.mark {
  background-color: $info;
}

/// To address accessibility concerns
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark
mark::before, 
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
mark::before {
  content: " [highlight start] ";
}
mark::after {
  content: " [highlight end] ";
}